[Unit]
Description=PiLight Web Server
After=syslog.target network-online.target

[Service]
Type=simple
User=root
EnvironmentFile=/etc/default/pilight
ExecStart=/usr/local/bin/pilight
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
